<div class="service-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="service-article">
                    <div class="service-article-img">
                        <img src="{{ asset('uploads/article_image/' ~ service.image) }}" alt="image">
                    </div>
                    <div class="service-article-content">
                        <h2><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">{{ service.titre }}</font></font></h2>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    {{ service.description }}
                                </font></font></p>

                    </div>

                    <div class="fusion-reading-box-container reading-box-container-1"
                         style="margin-top:0px;margin-bottom:84px;">
                        <div class="reading-box"
                             style="background-color:#f6f6f6;border-width:1px;border-color:#f6f6f6;border-left-width:3px;border-left-color:var(--primary_color);border-style:solid;">
                            <div class="reading-box-description">Besoin d’un site web pour présenter vos services et
                                développer votre activité ?
                            </div>
                            <div class="reading-box-additional">
                                <p>Besoin d’en savoir plus ? Contactez nous maintenant !   </p>
                            </div>
                            <div class="fusion"><a href="#contactez" class="default-btn btn-bg-two border-radius-5 ml-25 mt-4">Contactez nous</a></div>

                        </div>
                    </div>
                    <div class="service-work-process">
                        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Notre
                                    processus de travail</font></font></h2>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    La douleur elle-même est beaucoup de douleur, la douleur du client. </font><font
                                        style="vertical-align: inherit;">Énéen commodo ligula eget dolor </font><font
                                        style="vertical-align: inherit;">masse d'Énée </font><font
                                        style="vertical-align: inherit;">Quand les montagnes, et les maisons, et les
                                    enfants, et les grands dieux travailleront, un rire naîtra. </font><font
                                        style="vertical-align: inherit;">Jusqu'à ce chat, c'est juste pas, les gosses
                                    eu, le prix de qui, sem. </font><font style="vertical-align: inherit;">Aucune
                                    conséquence pour aucune masse. </font><font style="vertical-align: inherit;">Jusqu'à
                                    ce que le pied soit juste, écologique ou, bananes n, vu besoin,
                                    s'incline. </font><font style="vertical-align: inherit;">Car dans le juste, le zen
                                    qui, de la coiffure, la vie vénéneuse, juste. </font><font
                                        style="vertical-align: inherit;">Le prix doux du pied de football n'était
                                    plus. </font><font style="vertical-align: inherit;">Entier tincidunt </font><font
                                        style="vertical-align: inherit;">Cras dapibus </font><font
                                        style="vertical-align: inherit;">L'élément live enregistre
                                    toujours. </font><font style="vertical-align: inherit;">Aenean vulputate eleifend
                                    tellus. </font><font style="vertical-align: inherit;">Aen li, ferry eu, les
                                    conséquences de la vie, les adolescents et, pour.
                                </font></font></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="side-bar-area">
                    <div class="side-bar-widget">
                        <h3 class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nos
                                    services</font></font></h3>
                        <div class="side-bar-categories">
                            <ul>
                                {% for service in menu.listeServices() %}
                                    <li>
                                        <div class="line-circle"></div>
                                        <a href="#" target="_blank"><font style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">{{ service.titre }}</font></font></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="side-bar-widget">
                        <h3 class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Galerie</font></font>
                        </h3>
                        <ul class="blog-gallery">
                            {% for data in images %}
                                <li>
                                    <a href="#" target="_blank">
                                        <img src="{{ asset('uploads/article_image/' ~ data.path) }}" alt="image">
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


