<div id="projet"></div>
<div class="case-study-area pt-100 pb-70" >
    <div class="container-fluid p-0">
        <div class="section-title text-center">
            <h1><span class="sp-color2">Projets réalisés</span></h1>
            <h4>Ici nous vous présentons nos projets déjà réalisés</h4>
        </div>
       <div class="container">
           <div class=" row ">
               <div class="col-lg mb-4 card border-white ">

                   <a href="https://deplacement-aerien.gouv.ci/" target="_blank" class="">
                   </a><div class="card shadow-sm"><a href="https://deplacement-aerien.gouv.ci/" target="_blank" class="">

                           <img src="{{ asset('fils/assets/images/ecranDDVA.png') }}" class="card-img-top " alt="...">

                       </a>
                       <div class="card-body ">
                           <h5 class="card-title ">DEPLACEMENT AERIEN (D.D.V.A) </h5>
                           <p class="card-text">Point Focal du MSHP</p>
                       </div>
                   </div>

               </div>

               <!-- Projet réalisé DIRECTION DE LA SANTE COMMUNAUTAIRE-->
               <div class=" col-lg mb-4 card border-white">

                   <a href="https://www.santecommunautaire.ci/" target="_blank" class="">
                   </a><div class="card shadow-sm"><a href="https://www.santecommunautaire.ci/" target="_blank" class="">

                           <img src="{{ asset('fils/assets/images/ecranDSC1.png') }}" class="card-img-top" alt="...">

                       </a>
                       <div class="card-body ">
                           <h5 class="card-title">DIRECTION DE LA SANTE COMMUNAUTAIRE (DSC) </h5>
                           <p class="card-text">Dévéloppement Web</p>
                       </div>
                   </div>


               </div>


               <!-- Projet réalisé OFFICE NATIONALE SUD COMOE-->



               <div class="col-lg mb-4 card border-white">

                   <a href="#" class="">
                   </a><div class="card shadow-sm"><a href="#" class="">

                           <img src="{{ asset('fils/assets/images/ecransudcomoe.png') }}" class="card-img-top" alt="...">

                       </a>
                       <div class="card-body ">
                           <h5 class="card-title">OFFICE NATIONALE SUD COMOE</h5>
                           <p class="card-text">Dévéloppement Web</p>
                       </div>
                   </div>
               </div>


               <!-- Projet réalisé CABINET IDAEL SARL-->
               <div class=" row ">
                   <div class="col-lg mb-4 card border-white ">

                       <a href="#" class="">
                       </a><div class="card shadow-sm"><a href="#" class="">

                               <img src="{{ asset('fils/assets/images/ecran1.png') }}" class="card-img-top " alt="...">

                           </a>
                           <div class="card-body ">
                               <h5 class="card-title ">CABINET IDAEL SARL</h5>
                               <p class="card-text">Dévéloppement Web</p>
                           </div>
                       </div>

                   </div>

                   <!-- Projet réalisé CENTRE MEDICAL P.A.A-->

                   <div class="col-lg mb-4 card border-white">

                       <a href="#" class="">
                       </a><div class="card shadow-sm"><a href="#" class="">

                               <img src="{{ asset('fils/assets/images/ecran2.png') }}" class="card-img-top" alt="...">

                           </a>
                           <div class="card-body ">
                               <h5 class="card-title">CENTRE MEDICAL P.A.A</h5>
                               <p class="card-text">Dévéloppement Web</p>
                           </div>
                       </div>

                   </div>

                   <!-- Projet réalisé GOODFOOD-->
                   <div class=" col-lg mb-4 card border-white">

                       <a href="#" class="">
                       </a><div class="card shadow-sm"><a href="#" class="">

                               <img src="{{ asset('fils/assets/images/ecran3.png') }}" class="card-img-top" alt="...">

                           </a>
                           <div class="card-body ">
                               <h5 class="card-title">GOODFOOD</h5>
                               <p class="card-text">Dévéloppement Web</p>
                           </div>
                       </div>




                   </div></div></div>
       </div>
      {#  <div class="case-study-slider owl-carousel owl-theme pt-45 owl-loaded owl-drag">
            <div class="owl-stage-outer"><div class="owl-stage" style="transition: all 0.25s ease 0s; width: 5423px; transform: translate3d(-1355px, 0px, 0px);"><div class="owl-item cloned" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study3.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Business Solution</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Business</a></li>
                                    <li><a href="case-details.html">Planing</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study4.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">UI/UX Research</a></h3>
                                <ul>
                                    <li><a href="case-details.html">UI/UX Design</a></li>
                                    <li><a href="case-details.html">Research</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study6.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Business Solution</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Solution</a></li>
                                    <li><a href="case-details.html">Business</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study2.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Web Development</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Design</a></li>
                                    <li><a href="case-details.html">Development</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item active" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study1.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Business Solution</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Business</a></li>
                                    <li><a href="case-details.html">Planing</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item active center" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study2.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Business Solution</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Business</a></li>
                                    <li><a href="case-details.html">Planing</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item active" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study3.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Business Solution</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Business</a></li>
                                    <li><a href="case-details.html">Planing</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item active" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study4.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">UI/UX Research</a></h3>
                                <ul>
                                    <li><a href="case-details.html">UI/UX Design</a></li>
                                    <li><a href="case-details.html">Research</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study6.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Business Solution</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Solution</a></li>
                                    <li><a href="case-details.html">Business</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study2.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Web Development</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Design</a></li>
                                    <li><a href="case-details.html">Development</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study1.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Business Solution</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Business</a></li>
                                    <li><a href="case-details.html">Planing</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study2.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Business Solution</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Business</a></li>
                                    <li><a href="case-details.html">Planing</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study3.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">Business Solution</a></h3>
                                <ul>
                                    <li><a href="case-details.html">Business</a></li>
                                    <li><a href="case-details.html">Planing</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 357.3px; margin-right: 30px;"><div class="case-study-item">
                            <a href="case-details.html">
                                <img src="assets/images/case-study/case-study4.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="case-details.html">UI/UX Research</a></h3>
                                <ul>
                                    <li><a href="case-details.html">UI/UX Design</a></li>
                                    <li><a href="case-details.html">Research</a> </li>
                                </ul>
                                <a href="case-details.html" class="more-btn"><i class="bx bx-right-arrow-alt"></i></a>
                            </div>
                        </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>#}
    </div>
</div>